# Text files should have normalized line endings
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.md text
*.css text
*.scss text
*.html text
*.yml text
*.yaml text

# Binary files should be stored as binary
*.jpg binary
*.mp4 binary
*.svg binary
*.png binary
*.psd binary
*.xd binary
*.zip binary
*.avi binary
*.wmv binary
*.fig binary
*.dmg binary
*.mov binary
*.flv binary
*.wav binary
*.ai binary
*.sketch binary
*.tar binary
*.gz binary
*.iso binary
*.node binary
*.jpeg binary
*.gif binary
*.mp3 binary
*.rar binary
*.7z binary
